body{

    background-color: rgb(235, 234, 238);

     }
 .nome {
     font-family: Arial, Helvetica, sans-serif
 }
 p {
     font-family: sans-serif;
 }    
 h2 {
     font-family: Arial, Helvetica, sans-serif;
 }
     
 li {
     font-weight: bold;
 }
 .conhecer{
  
     font-style: italic;
     text-decoration: underline;
 }
 .contato{
     font-weight: bold;
 }
    
 
