body{
    background-color: rgb(171, 168, 177);
     }
 #nome {
     font-family: Arial, Helvetica, sans-serif
 }
 p {
     font-family: Times, serif;
 }    
 h2 {
     font-family: Arial, Helvetica, sans-serif;
 }
     
 li {
     font-weight: bold;
 }
 #conhecer{
  
     font-style: italic;
     text-decoration: underline;
 }
 #contato{
     font-weight: bold;
 }
    
 