body{
<<<<<<< HEAD
    background-color: rgb(171, 168, 177);
=======
    background-color: rgb(188, 185, 195);
>>>>>>> 8fe4277656fe626bc2d1f0863b1a70f5e47fa213
     }
 #nome {
     font-family: Arial, Helvetica, sans-serif
 }
 p {
     font-family: Times, serif;
 }    
 h2 {
     font-family: Arial, Helvetica, sans-serif;
 }
     
 li {
     font-weight: bold;
 }
 #conhecer{
  
     font-style: italic;
     text-decoration: underline;
 }
 #contato{
     font-weight: bold;
 }
    
 
